body {
    background-color: rgb(118, 218, 230);
    padding-top: 70px; /* Adjusted for fixed navbar */
    padding-bottom: 70px; /* Adjusted for fixed footer */
    
  }
  
  .navbar {
    margin-bottom: 20;
    border-radius: 0;
    background-color: rgb(62, 116, 196);

   }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  /* .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  } */
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    /* .sidenav {
      height: auto;
      padding: 15px;
    } */
    .row.content {height:auto;} 
  }

    .content {
        padding-top: 200px; /* Increase the padding as needed */
  }

  
  
    .background-title {
      background-image:url('../static/img/tracksedit.jpg') ; 
      background-size: 1500px 500px; /* Cover the entire area of the title with the background image */
      color: rgb(0, 0, 0); /* Text color for the title */
      padding: 200px; /* Add padding to the title for better visibility */
      text-align: center; /* Center-align the text */
      font-size: 80px
    }

  h1 {
    text-align:center;
  }
  
  h3 {
    text-align:left;
  }

  h2 {
    font-size: 60px;
  }


  p {
    text-align:left;
  }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000000;
}

th {
    background-color: #007bff;
    color: rgb(0, 0, 0);
}

.button-container {
    display: flex;
    justify-content: space-around; 
}


.button {
    padding: 10px 20px;
    background-color: #6291c3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

