<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <h1>Projects</h1>
    <table>
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Project name</th>
                <th>Stage</th>                                
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for item in row%}
                <td>{{ item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


