<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search records form</title>
</head>
<body>
    <h1>SEARCH RECORDS</h>
    <h2>Please enter the record details</h2>
    <form method="post">
        <label for="control_area">Control Area:</label>
        <input type="text" id="control_area" name="control_area"><br>
        <label for="installation">Installation:</label>
        <input type="text" id="installation" name="installation"><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location"><br>
        <label for="drawing_no">Drawing Number:</label>
        <input type="text" id="drawing_no" name="drawing_no"><br>
        <label for="barcode">Barcode:</label>
        <input type="text" id="barcode" name="barcode"><br>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title"><br>
        <button type="submit">Search record</button>
    </form>

</body>
</html>